# Esercizi Coding Contest da ignorare
/Esercizi/*
/Tutorato/*

# Esercizi Coding Contest svolti
!/Esercizi/build-max-heap
!/Esercizi/build-min-heap
!/Esercizi/min-heap
!/Esercizi/max-heap
!/Esercizi/min-enqueue
!/Esercizi/counting-sort
!/Esercizi/heapify
!/Esercizi/heapsort
!/Esercizi/reverse-heapsort
!/Esercizi/ordinamento-lineare
!/Esercizi/hash-chain-div
!/Esercizi/hash-chain-mult
!/Esercizi/rotazioni-bst
!/Esercizi/insert-RBTree
!/Esercizi/altezza-RBTree
!/Esercizi/coppie-counting
!/Esercizi/coppie-heapsort

# Escludi tutti i file eseguibili
*exe